<form method="post" action="" id="fk-form">
	<div class="fk-row">
	     <label for="">Företagsnamn</label><br>
	     <input name="name" type="text" placeholder="Företagsnamn" required>
	</div>
	<div class="fk-row">
	     <label for="">Momsperiod</label><br>
	     <select name="momsperiod" id="" required>
	     	<option value=""></option>
	     	<option value="1">Månadsvis</option>
	     	<option value="2">Kvartalsvis</option>
	     	<option value="3">Årsvis</option>
	     </select>
	</div>
	<div class="fk-row">
	     <label for="">Senast inlämning tidsrapport dag 0-31 (0 = ingen tidsrapportering)</label><br>
	     <input type="number" name="timeReport" min="0" max="31" required>
	</div>
	<div class="fk-row">
	     <label for="">Hur ser ditt räkenskapsår ut, ange datum för Bokslut</label><br>
	     <select name="financialStatement" id="" required>
	     	<option value=""></option>
	     	<option value="1">31/1, 28/2, 31/3, 30/4</option>
	     	<option value="2">31/5, 30/6</option>
	     	<option value="3">31/7, 31/8</option>
	     	<option value="4">30/9, 31/10, 30/11, 31/12</option>
	     </select>
	</div>
	<div class="fk-row">
	     <label for="">Något annat du vill komma ihåg? (använd en förkortning på max 5 bokstäver)</label><br>
	     <input type="text" name="extra" maxlength="5 " title="Max 5 bokstäver">
	     <input type="date" name="extraDate" min="0" max="31">
	</div>

	<div class="fk-row">
	     <input type="submit" id="fk-btn">
	</div>
</form> 
<a href="" id="fk-downloadlink"><button>Ladda ner din pdf</button></a>