<form method="post" action="" id="fk-form">
	<div class="fk-row">
	    <label for="namn">Företagsnamn *</label>
		<input name="name" id="namn" type="text" class="fk-required" placeholder="Företagsnamn" required>
	</div>
	<div class="fk-row">
	    <label for="pdfMonth">Vill du ha din pdf som års- eller månadskalender? *</label>
		<select name="pdfMonth" id="pdfMonth" class="fk-required" required>
			<option value="" ></option>
			<option value="yes">Månad</option>
			<option value="no">Årskalender</option>
		</select>
	</div>
	<div class="fk-row hideTogglePdf">
	    <label for="namn">Vill ha din månadskalender för en specifik månad? (lämna tomt för nuvarande)</label>
		<select name="pdfSpecificMonth">
			<option value="no" >Månad</option>
			<option value="01">Januari</option>
			<option value="02">Februari</option>
			<option value="03">Mars</option>
			<option value="04">April</option>
			<option value="05">Maj</option>
			<option value="06">Juni</option>
			<option value="07">Juli</option>
			<option value="08">Augusti</option>
			<option value="08">September</option>
			<option value="10">Oktober</option>
			<option value="11">November</option>
			<option value="12">December</option>
		</select>
		<select name="pdfSpecificYear">
			<option value="no">År</option>
			<option value="13">2013</option>
			<option value="14">2014</option>
			<option value="15">2015</option>
			<option value="16">2016</option>
		</select>

	</div>
	<div class="fk-row">
	    <label for="">Momsperiod * </label>
		<select name="momsperiod" id="momsperiod" class="fk-required" required>
	     	<option value=""></option>
	     	<option value="1">Månadsvis</option>
	     	<option value="2">Kvartalsvis</option>
	     	<option value="3">Årsvis</option>
	     </select>
	</div>
	<div class="fk-row hideToggleMoms">
		<label>Redovisar du momsen med papper eller elektroniskt? * </label>
		<select name="paperMoms" class="fk-required" required>
			<option value="no" ></option>
			<option value="yes">Papper</option>
			<option value="no">Elektroniskt</option>
		</select>
	</div>
	<div class="fk-row hideToggleMoms">
		<label>Har du handlat med ett annat Eu-land? * </label>
		<select name="eu" class="fk-required" required>
			<option value="no" ></option>
			<option value="yes">Ja</option>
			<option value="no">Nej</option>
		</select>
	</div>
	<div class="fk-row">
	    <label for="">Senast inlämning tidsrapport dag 0-31 (0 = ingen tidsrapportering) * </label>
		<input type="number" name="timeReport" class="fk-required" min="0" max="31" required>
	</div>
	<div class="fk-row">
		<label for="fiscalYear">Räkenskapsår slut * </label>
		<p id="fk-wrongDate">Räkenskaps året måste sluta den sista dagen i månaden</p>
	    <input type="date" id="fiscalYear" name="fiscalYearEnd" class="fk-required" min="0" max="31">
	</div>
	<div class="fk-row">
		<label for="">Vill du lämna deklaration med papper eller elektroniskt? * </label>
	    <select name="paperDec" class="fk-required">
	    	<option value=""></option>
	    	<option value="yes">Papper</option>
	    	<option value="no">Elektroniskt</option>
	    </select>
	</div>
	
	<div class="fk-row">
	    <label for="">Något annat du vill komma ihåg?</label>
		<input type="text" name="extra" maxlength="11" title="Max 5 bokstäver">
	     <input type="date" name="extraDate" min="0" max="31">
	</div>

	<div class="fk-row">
		<p id="fk-emptyfield">Fyll i alla fält med *</p>
	     <input type="submit" id="fk-btn">
	</div>
</form> 
<a href="" id="fk-pdflink"><button>Ladda ner din pdf</button></a>
<a href="" id="fk-icallink"><button>Ladda ner din Ical-fil</button></a>
