<form action="" id="fk-form">
	<div class="fk-row">
	     <label for="">Företagsnamn</label><br>
	     <input type="text" placeholder="Företagsnamn" required>
	</div>
	<div class="fk-row">
	     <label for="">Momsperiod</label><br>
	     <select name="" id="" required>
	     	<option value=""></option>
	     	<option value="">Månadsvis</option>
	     	<option value="">Kvartalsvis</option>
	     	<option value="">Årsvis</option>
	     </select>
	</div>
	<div class="fk-row">
	     <label for="">Senast inläming tidsrapport</label><br>
	     <input type="text" placeholder="Tidsrapport" required>
	</div>
	<div class="fk-row">
	     <input type="submit" id="fk-btn">
	</div>
</form> 
<a href="" id="fk-downloadlink">Ladda ner din pdf</a>