<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/pdf.css">
</head>
<body>
    <div id="print-area">
        <div class="header">
            <h1>Företagskalender</h1>
            <h3>-Håll koll på alla datum</h3>
            <img src="../img/logo.png" alt="Fortnox logga">
        </div>
        <div id="content">

            <h2>%name%</h2>
            <p>*Moms = Momsredovisning</p>
            <table class="fk-table">
                    <tbody>
                        <tr>
                            <th class="fk-datum">Datum</th>
                            <th>Jan</th>
                            <th>Feb</th>
                            <th>Mar</th>
                            <th>Apr</th>
                            <th>Maj</th>
                            <th>Jun</th>
                            <th>Jul</th>
                            <th>Aug</th>
                            <th>Sep</th>
                            <th>Okt</th>
                            <th>Nov</th>
                            <th>Dec</th>
                        </tr>
                        <tr>
                            <td class="fk-datum"> 1</td>
                            <td><!--fk-01-01--></td>
                            <td><!--fk-01-02--></td>
                            <td><!--fk-01-03--></td>
                            <td><!--fk-01-04--></td>
                            <td><!--fk-01-05--></td>
                            <td><!--fk-01-06--></td>
                            <td><!--fk-01-07--></td>
                            <td><!--fk-01-08--></td>
                            <td><!--fk-01-09--></td>
                            <td><!--fk-01-10--></td>
                            <td><!--fk-01-11--></td>
                            <td><!--fk-01-12--></td>                            
                        </tr>
                        <tr>
                            <td class="fk-datum"> 2</td>
                            <td><!--fk-02-01--></td>
                            <td><!--fk-02-02--></td>
                            <td><!--fk-02-03--></td>
                            <td><!--fk-02-04--></td>
                            <td><!--fk-02-05--></td>
                            <td><!--fk-02-06--></td>
                            <td><!--fk-02-07--></td>
                            <td><!--fk-02-08--></td>
                            <td><!--fk-02-09--></td>
                            <td><!--fk-02-10--></td>
                            <td><!--fk-02-11--></td>
                            <td><!--fk-02-12--></td>  
                        </tr>
                        <tr>
                            <td class="fk-datum"> 3</td>
                            <td><!--fk-03-01--></td>
                            <td><!--fk-03-02--></td>
                            <td><!--fk-03-03--></td>
                            <td><!--fk-03-04--></td>
                            <td><!--fk-03-05--></td>
                            <td><!--fk-03-06--></td>
                            <td><!--fk-03-07--></td>
                            <td><!--fk-03-08--></td>
                            <td><!--fk-03-09--></td>
                            <td><!--fk-03-10--></td>
                            <td><!--fk-03-11--></td>
                            <td><!--fk-03-12--></td>  
                        </tr>
                        <tr>
                            <td class="fk-datum"> 4</td>
                            <td><!--fk-04-01--></td>
                            <td><!--fk-04-02--></td>
                            <td><!--fk-04-03--></td>
                            <td><!--fk-04-04--></td>
                            <td><!--fk-04-05--></td>
                            <td><!--fk-04-06--></td>
                            <td><!--fk-04-07--></td>
                            <td><!--fk-04-08--></td>
                            <td><!--fk-04-09--></td>
                            <td><!--fk-04-10--></td>
                            <td><!--fk-04-11--></td>
                            <td><!--fk-04-12--></td>  
                        </tr>
                        <tr>
                            <td class="fk-datum"> 5</td>
                            <td><!--fk-05-01--></td>
                            <td><!--fk-05-02--></td>
                            <td><!--fk-05-03--></td>
                            <td><!--fk-05-04--></td>
                            <td><!--fk-05-05--></td>
                            <td><!--fk-05-06--></td>
                            <td><!--fk-05-07--></td>
                            <td><!--fk-05-08--></td>
                            <td><!--fk-05-09--></td>
                            <td><!--fk-05-10--></td>
                            <td><!--fk-05-11--></td>
                            <td><!--fk-05-12--></td>  
                        </tr>
                        <tr>
                            <td class="fk-datum"> 6</td>
                            <td><!--fk-06-01--></td>
                            <td><!--fk-06-02--></td>
                            <td><!--fk-06-03--></td>
                            <td><!--fk-06-04--></td>
                            <td><!--fk-06-05--></td>
                            <td><!--fk-06-06--></td>
                            <td><!--fk-06-07--></td>
                            <td><!--fk-06-08--></td>
                            <td><!--fk-06-09--></td>
                            <td><!--fk-06-10--></td>
                            <td><!--fk-06-11--></td>
                            <td><!--fk-06-12--></td>  
                        </tr>
                        <tr>
                            <td class="fk-datum"> 7</td>
                            <td><!--fk-07-01--></td>
                            <td><!--fk-07-02--></td>
                            <td><!--fk-07-03--></td>
                            <td><!--fk-07-04--></td>
                            <td><!--fk-07-05--></td>
                            <td><!--fk-07-06--></td>
                            <td><!--fk-07-07--></td>
                            <td><!--fk-07-08--></td>
                            <td><!--fk-07-09--></td>
                            <td><!--fk-07-10--></td>
                            <td><!--fk-07-11--></td>
                            <td><!--fk-07-12--></td>  
                        </tr>
                        <tr>
                            <td class="fk-datum"> 8</td>
                            <td><!--fk-08-01--></td>
                            <td><!--fk-08-02--></td>
                            <td><!--fk-08-03--></td>
                            <td><!--fk-08-04--></td>
                            <td><!--fk-08-05--></td>
                            <td><!--fk-08-06--></td>
                            <td><!--fk-08-07--></td>
                            <td><!--fk-08-08--></td>
                            <td><!--fk-08-09--></td>
                            <td><!--fk-08-10--></td>
                            <td><!--fk-08-11--></td>
                            <td><!--fk-08-12--></td>  
                        </tr>
                        <tr>
                            <td class="fk-datum"> 9</td>
                            <td><!--fk-09-01--></td>
                            <td><!--fk-09-02--></td>
                            <td><!--fk-09-03--></td>
                            <td><!--fk-09-04--></td>
                            <td><!--fk-09-05--></td>
                            <td><!--fk-09-06--></td>
                            <td><!--fk-09-07--></td>
                            <td><!--fk-09-08--></td>
                            <td><!--fk-09-09--></td>
                            <td><!--fk-09-10--></td>
                            <td><!--fk-09-11--></td>
                            <td><!--fk-09-12--></td>  
                        </tr>
                        <tr>
                            <td class="fk-datum"> 10</td>
                            <td><!--fk-10-01--></td>
                            <td><!--fk-10-02--></td>
                            <td><!--fk-10-03--></td>
                            <td><!--fk-10-04--></td>
                            <td><!--fk-10-05--></td>
                            <td><!--fk-10-06--></td>
                            <td><!--fk-10-07--></td>
                            <td><!--fk-10-08--></td>
                            <td><!--fk-10-09--></td>
                            <td><!--fk-10-10--></td>
                            <td><!--fk-10-11--></td>
                            <td><!--fk-10-12--></td>  
                        </tr>
                        <tr>
                            <td class="fk-datum"> 11</td>
                            <td><!--fk-11-01--></td>
                            <td><!--fk-11-02--></td>
                            <td><!--fk-11-03--></td>
                            <td><!--fk-11-04--></td>
                            <td><!--fk-11-05--></td>
                            <td><!--fk-11-06--></td>
                            <td><!--fk-11-07--></td>
                            <td><!--fk-11-08--></td>
                            <td><!--fk-11-09--></td>
                            <td><!--fk-11-10--></td>
                            <td><!--fk-11-11--></td>
                            <td><!--fk-11-12--></td>  
                        </tr>
                        <tr>
                            <td class="fk-datum"> 12</td>
                            <td><!--fk-12-01--></td>
                            <td><!--fk-12-02--></td>
                            <td><!--fk-12-03--></td>
                            <td><!--fk-12-04--></td>
                            <td><!--fk-12-05--></td>
                            <td><!--fk-12-06--></td>
                            <td><!--fk-12-07--></td>
                            <td><!--fk-12-08--></td>
                            <td><!--fk-12-09--></td>
                            <td><!--fk-12-10--></td>
                            <td><!--fk-12-11--></td>
                            <td><!--fk-12-12--></td>  
                        </tr>
                        <tr>
                            <td class="fk-datum"> 13</td>
                            <td><!--fk-13-01--></td>
                            <td><!--fk-13-02--></td>
                            <td><!--fk-13-03--></td>
                            <td><!--fk-13-04--></td>
                            <td><!--fk-13-05--></td>
                            <td><!--fk-13-06--></td>
                            <td><!--fk-13-07--></td>
                            <td><!--fk-13-08--></td>
                            <td><!--fk-13-09--></td>
                            <td><!--fk-13-10--></td>
                            <td><!--fk-13-11--></td>
                            <td><!--fk-13-12--></td>  
                        </tr>
                        <tr>
                            <td class="fk-datum"> 14</td>
                            <td><!--fk-14-01--></td>
                            <td><!--fk-14-02--></td>
                            <td><!--fk-14-03--></td>
                            <td><!--fk-14-04--></td>
                            <td><!--fk-14-05--></td>
                            <td><!--fk-14-06--></td>
                            <td><!--fk-14-07--></td>
                            <td><!--fk-14-08--></td>
                            <td><!--fk-14-09--></td>
                            <td><!--fk-14-10--></td>
                            <td><!--fk-14-11--></td>
                            <td><!--fk-14-12--></td>  
                        </tr>
                        <tr>
                            <td class="fk-datum"> 15</td>
                            <td><!--fk-15-01--></td>
                            <td><!--fk-15-02--></td>
                            <td><!--fk-15-03--></td>
                            <td><!--fk-15-04--></td>
                            <td><!--fk-15-05--></td>
                            <td><!--fk-15-06--></td>
                            <td><!--fk-15-07--></td>
                            <td><!--fk-15-08--></td>
                            <td><!--fk-15-09--></td>
                            <td><!--fk-15-10--></td>
                            <td><!--fk-15-11--></td>
                            <td><!--fk-15-12--></td>  
                        </tr>
                        <tr>
                            <td class="fk-datum"> 16</td>
                            <td><!--fk-16-01--></td>
                            <td><!--fk-16-02--></td>
                            <td><!--fk-16-03--></td>
                            <td><!--fk-16-04--></td>
                            <td><!--fk-16-05--></td>
                            <td><!--fk-16-06--></td>
                            <td><!--fk-16-07--></td>
                            <td><!--fk-16-08--></td>
                            <td><!--fk-16-09--></td>
                            <td><!--fk-16-10--></td>
                            <td><!--fk-16-11--></td>
                            <td><!--fk-16-12--></td>  
                        </tr>
                        <tr>
                            <td class="fk-datum"> 17</td>
                            <td><!--fk-17-01--></td>
                            <td><!--fk-17-02--></td>
                            <td><!--fk-17-03--></td>
                            <td><!--fk-17-04--></td>
                            <td><!--fk-17-05--></td>
                            <td><!--fk-17-06--></td>
                            <td><!--fk-17-07--></td>
                            <td><!--fk-17-08--></td>
                            <td><!--fk-17-09--></td>
                            <td><!--fk-17-10--></td>
                            <td><!--fk-17-11--></td>
                            <td><!--fk-17-12--></td>  
                        </tr>
                        <tr>
                            <td class="fk-datum"> 18</td>
                            <td><!--fk-18-01--></td>
                            <td><!--fk-18-02--></td>
                            <td><!--fk-18-03--></td>
                            <td><!--fk-18-04--></td>
                            <td><!--fk-18-05--></td>
                            <td><!--fk-18-06--></td>
                            <td><!--fk-18-07--></td>
                            <td><!--fk-18-08--></td>
                            <td><!--fk-18-09--></td>
                            <td><!--fk-18-10--></td>
                            <td><!--fk-18-11--></td>
                            <td><!--fk-18-12--></td>  
                        </tr>
                        <tr>
                            <td class="fk-datum"> 19</td>
                            <td><!--fk-19-01--></td>
                            <td><!--fk-19-02--></td>
                            <td><!--fk-19-03--></td>
                            <td><!--fk-19-04--></td>
                            <td><!--fk-19-05--></td>
                            <td><!--fk-19-06--></td>
                            <td><!--fk-19-07--></td>
                            <td><!--fk-19-08--></td>
                            <td><!--fk-19-09--></td>
                            <td><!--fk-19-10--></td>
                            <td><!--fk-19-11--></td>
                            <td><!--fk-19-12--></td>  
                        </tr>
                        <tr>
                            <td class="fk-datum"> 20</td>
                            <td><!--fk-2001--></td>
                            <td><!--fk-2002--></td>
                            <td><!--fk-2003--></td>
                            <td><!--fk-2004--></td>
                            <td><!--fk-2005--></td>
                            <td><!--fk-2006--></td>
                            <td><!--fk-2007--></td>
                            <td><!--fk-2008--></td>
                            <td><!--fk-2009--></td>
                            <td><!--fk-2010--></td>
                            <td><!--fk-2011--></td>
                            <td><!--fk-2012--></td>  
                        </tr>
                        <tr>
                            <td class="fk-datum"> 21</td>
                            <td><!--fk-21-01--></td>
                            <td><!--fk-21-02--></td>
                            <td><!--fk-21-03--></td>
                            <td><!--fk-21-04--></td>
                            <td><!--fk-21-05--></td>
                            <td><!--fk-21-06--></td>
                            <td><!--fk-21-07--></td>
                            <td><!--fk-21-08--></td>
                            <td><!--fk-21-09--></td>
                            <td><!--fk-21-10--></td>
                            <td><!--fk-21-11--></td>
                            <td><!--fk-21-12--></td>  
                        </tr>
                        <tr>
                            <td class="fk-datum"> 22</td>
                            <td><!--fk-2201--></td>
                            <td><!--fk-2202--></td>
                            <td><!--fk-2203--></td>
                            <td><!--fk-2204--></td>
                            <td><!--fk-2205--></td>
                            <td><!--fk-2206--></td>
                            <td><!--fk-2207--></td>
                            <td><!--fk-2208--></td>
                            <td><!--fk-2209--></td>
                            <td><!--fk-2210--></td>
                            <td><!--fk-2211--></td>
                            <td><!--fk-2212--></td>  
                        </tr>
                        <tr>
                            <td class="fk-datum"> 23</td>
                            <td><!--fk-2301--></td>
                            <td><!--fk-2302--></td>
                            <td><!--fk-2303--></td>
                            <td><!--fk-2304--></td>
                            <td><!--fk-2305--></td>
                            <td><!--fk-2306--></td>
                            <td><!--fk-2307--></td>
                            <td><!--fk-2308--></td>
                            <td><!--fk-2309--></td>
                            <td><!--fk-2310--></td>
                            <td><!--fk-2311--></td>
                            <td><!--fk-2312--></td>  
                        </tr>
                        <tr>
                            <td class="fk-datum"> 24</td>
                            <td><!--fk-24-01--></td>
                            <td><!--fk-24-02--></td>
                            <td><!--fk-24-03--></td>
                            <td><!--fk-24-04--></td>
                            <td><!--fk-24-05--></td>
                            <td><!--fk-24-06--></td>
                            <td><!--fk-24-07--></td>
                            <td><!--fk-24-08--></td>
                            <td><!--fk-24-09--></td>
                            <td><!--fk-24-10--></td>
                            <td><!--fk-24-11--></td>
                            <td><!--fk-24-12--></td>  
                        </tr>
                        <tr>
                            <td class="fk-datum"> 25</td>
                            <td><!--fk-25-01--></td>
                            <td><!--fk-25-02--></td>
                            <td><!--fk-25-03--></td>
                            <td><!--fk-25-04--></td>
                            <td><!--fk-25-05--></td>
                            <td><!--fk-25-06--></td>
                            <td><!--fk-25-07--></td>
                            <td><!--fk-25-08--></td>
                            <td><!--fk-25-09--></td>
                            <td><!--fk-25-10--></td>
                            <td><!--fk-25-11--></td>
                            <td><!--fk-25-12--></td>  
                        </tr>
                        <tr>
                            <td class="fk-datum"> 26</td>
                            <td><!--fk-26-01--></td>
                            <td><!--fk-26-02--></td>
                            <td><!--fk-26-03--></td>
                            <td><!--fk-26-04--></td>
                            <td><!--fk-26-05--></td>
                            <td><!--fk-26-06--></td>
                            <td><!--fk-26-07--></td>
                            <td><!--fk-26-08--></td>
                            <td><!--fk-26-09--></td>
                            <td><!--fk-26-10--></td>
                            <td><!--fk-26-11--></td>
                            <td><!--fk-26-12--></td>  
                        </tr>
                        <tr>
                            <td class="fk-datum"> 27</td>
                            <td><!--fk-27-01--></td>
                            <td><!--fk-27-02--></td>
                            <td><!--fk-27-03--></td>
                            <td><!--fk-27-04--></td>
                            <td><!--fk-27-05--></td>
                            <td><!--fk-27-06--></td>
                            <td><!--fk-27-07--></td>
                            <td><!--fk-27-08--></td>
                            <td><!--fk-27-09--></td>
                            <td><!--fk-27-10--></td>
                            <td><!--fk-27-11--></td>
                            <td><!--fk-27-12--></td>  
                        </tr>
                        <tr>
                            <td class="fk-datum"> 28</td>
                            <td><!--fk-28-01--></td>
                            <td><!--fk-28-02--></td>
                            <td><!--fk-28-03--></td>
                            <td><!--fk-28-04--></td>
                            <td><!--fk-28-05--></td>
                            <td><!--fk-28-06--></td>
                            <td><!--fk-28-07--></td>
                            <td><!--fk-28-08--></td>
                            <td><!--fk-28-09--></td>
                            <td><!--fk-28-10--></td>
                            <td><!--fk-28-11--></td>
                            <td><!--fk-28-12--></td>  
                        </tr>
                        <tr>
                            <td class="fk-datum"> 29</td>
                            <td><!--fk-29-01--></td>
                            <td><!--fk-29-02--></td>
                            <td><!--fk-29-03--></td>
                            <td><!--fk-29-04--></td>
                            <td><!--fk-29-05--></td>
                            <td><!--fk-29-06--></td>
                            <td><!--fk-29-07--></td>
                            <td><!--fk-29-08--></td>
                            <td><!--fk-29-09--></td>
                            <td><!--fk-29-10--></td>
                            <td><!--fk-29-11--></td>
                            <td><!--fk-29-12--></td>  
                        </tr>
                        <tr>
                            <td class="fk-datum"> 30</td>
                            <td><!--fk-30-01--></td>
                            <td><!--fk-30-02--></td>
                            <td><!--fk-30-03--></td>
                            <td><!--fk-30-04--></td>
                            <td><!--fk-30-05--></td>
                            <td><!--fk-30-06--></td>
                            <td><!--fk-30-07--></td>
                            <td><!--fk-30-08--></td>
                            <td><!--fk-30-09--></td>
                            <td><!--fk-30-10--></td>
                            <td><!--fk-30-11--></td>
                            <td><!--fk-30-12--></td>  
                        </tr>
                        <tr>
                            <td class="fk-datum"> 31</td>
                            <td><!--fk-31-01--></td>
                            <td><!--fk-31-02--></td>
                            <td><!--fk-31-03--></td>
                            <td><!--fk-31-04--></td>
                            <td><!--fk-31-05--></td>
                            <td><!--fk-31-06--></td>
                            <td><!--fk-31-07--></td>
                            <td><!--fk-31-08--></td>
                            <td><!--fk-31-09--></td>
                            <td><!--fk-31-10--></td>
                            <td><!--fk-31-11--></td>
                            <td><!--fk-31-12--></td>  
                        </tr>
                </tbody>
            </table>
        </div>
        
    </div>
</body>
</html>
