<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/pdf.css">
</head>
<body>
    <div id="print-area">
        <div class="header">
            <h1>Företagskalender</h1>
            <h3>-Håll koll på alla datum</h3>
            <img src="../img/logo.png" alt="Fortnox logga">
        </div>
        <div id="content">

            <h2>%name%</h2>
            <p>*Moms = Momsredovisning</p>
            <table class="fk-table">
                    <tbody>
                        <tr>
                            <th class="fk-datum-white"></th>
                            <th>Jan</th>
                            <th>Feb</th>
                            <th>Mar</th>
                            <th>Apr</th>
                            <th>Maj</th>
                            <th>Jun</th>
                            <th>Jul</th>
                            <th>Aug</th>
                            <th>Sep</th>
                            <th>Okt</th>
                            <th>Nov</th>
                            <th>Dec</th>
                        </tr>
                        <tr>
                            <td><div class="fk-datum">1</div</td>
                            <td><div><!--fk-01-01--></div></td>
                            <td><div><!--fk-01-02--></div></td>
                            <td><div><!--fk-01-03--></div></td>
                            <td><div><!--fk-01-04--></div></td>
                            <td><div><!--fk-01-05--></div></td>
                            <td><div><!--fk-01-06--></div></td>
                            <td><div><!--fk-01-07--></div></td>
                            <td><div><!--fk-01-08--></div></td>
                            <td><div><!--fk-01-09--></div></td>
                            <td><div><!--fk-01-10--></div></td>
                            <td><div><!--fk-01-11--></div></td>
                            <td><div><!--fk-01-12--></div></td>                            
                        </tr>
                        <tr>
                            <td><div class="fk-datum">2</div</td>
                            <td><div><!--fk-02-01--></div></td>
                            <td><div><!--fk-02-02--></div></td>
                            <td><div><!--fk-02-03--></div></td>
                            <td><div><!--fk-02-04--></div></td>
                            <td><div><!--fk-02-05--></div></td>
                            <td><div><!--fk-02-06--></div></td>
                            <td><div><!--fk-02-07--></div></td>
                            <td><div><!--fk-02-08--></div></td>
                            <td><div><!--fk-02-09--></div></td>
                            <td><div><!--fk-02-10--></div></td>
                            <td><div><!--fk-02-11--></div></td>
                            <td><div><!--fk-02-12--></div></td>  
                        </tr>
                        <tr>
                            <td><div class="fk-datum">3</div</td>
                            <td><div><!--fk-03-01--></div></td>
                            <td><div><!--fk-03-02--></div></td>
                            <td><div><!--fk-03-03--></div></td>
                            <td><div><!--fk-03-04--></div></td>
                            <td><div><!--fk-03-05--></div></td>
                            <td><div><!--fk-03-06--></div></td>
                            <td><div><!--fk-03-07--></div></td>
                            <td><div><!--fk-03-08--></div></td>
                            <td><div><!--fk-03-09--></div></td>
                            <td><div><!--fk-03-10--></div></td>
                            <td><div><!--fk-03-11--></div></td>
                            <td><div><!--fk-03-12--></div></td>  
                        </tr>
                        <tr>
                            <td><div class="fk-datum">4</div</td>
                            <td><div><!--fk-04-01--></div></td>
                            <td><div><!--fk-04-02--></div></td>
                            <td><div><!--fk-04-03--></div></td>
                            <td><div><!--fk-04-04--></div></td>
                            <td><div><!--fk-04-05--></div></td>
                            <td><div><!--fk-04-06--></div></td>
                            <td><div><!--fk-04-07--></div></td>
                            <td><div><!--fk-04-08--></div></td>
                            <td><div><!--fk-04-09--></div></td>
                            <td><div><!--fk-04-10--></div></td>
                            <td><div><!--fk-04-11--></div></td>
                            <td><div><!--fk-04-12--></div></td>  
                        </tr>
                        <tr>
                            <td><div class="fk-datum">5</div</td>
                            <td><div><!--fk-05-01--></div></td>
                            <td><div><!--fk-05-02--></div></td>
                            <td><div><!--fk-05-03--></div></td>
                            <td><div><!--fk-05-04--></div></td>
                            <td><div><!--fk-05-05--></div></td>
                            <td><div><!--fk-05-06--></div></td>
                            <td><div><!--fk-05-07--></div></td>
                            <td><div><!--fk-05-08--></div></td>
                            <td><div><!--fk-05-09--></div></td>
                            <td><div><!--fk-05-10--></div></td>
                            <td><div><!--fk-05-11--></div></td>
                            <td><div><!--fk-05-12--></div></td>  
                        </tr>
                        <tr>
                            <td><div class="fk-datum">6</div</td>
                            <td><div><!--fk-06-01--></div></td>
                            <td><div><!--fk-06-02--></div></td>
                            <td><div><!--fk-06-03--></div></td>
                            <td><div><!--fk-06-04--></div></td>
                            <td><div><!--fk-06-05--></div></td>
                            <td><div><!--fk-06-06--></div></td>
                            <td><div><!--fk-06-07--></div></td>
                            <td><div><!--fk-06-08--></div></td>
                            <td><div><!--fk-06-09--></div></td>
                            <td><div><!--fk-06-10--></div></td>
                            <td><div><!--fk-06-11--></div></td>
                            <td><div><!--fk-06-12--></div></td>  
                        </tr>
                        <tr>
                            <td><div class="fk-datum">7</div</td>
                            <td><div><!--fk-07-01--></div></td>
                            <td><div><!--fk-07-02--></div></td>
                            <td><div><!--fk-07-03--></div></td>
                            <td><div><!--fk-07-04--></div></td>
                            <td><div><!--fk-07-05--></div></td>
                            <td><div><!--fk-07-06--></div></td>
                            <td><div><!--fk-07-07--></div></td>
                            <td><div><!--fk-07-08--></div></td>
                            <td><div><!--fk-07-09--></div></td>
                            <td><div><!--fk-07-10--></div></td>
                            <td><div><!--fk-07-11--></div></td>
                            <td><div><!--fk-07-12--></div></td>  
                        </tr>
                        <tr>
                            <td><div class="fk-datum">8</div</td>
                            <td><div><!--fk-08-01--></div></td>
                            <td><div><!--fk-08-02--></div></td>
                            <td><div><!--fk-08-03--></div></td>
                            <td><div><!--fk-08-04--></div></td>
                            <td><div><!--fk-08-05--></div></td>
                            <td><div><!--fk-08-06--></div></td>
                            <td><div><!--fk-08-07--></div></td>
                            <td><div><!--fk-08-08--></div></td>
                            <td><div><!--fk-08-09--></div></td>
                            <td><div><!--fk-08-10--></div></td>
                            <td><div><!--fk-08-11--></div></td>
                            <td><div><!--fk-08-12--></div></td>  
                        </tr>
                        <tr>
                            <td><div class="fk-datum">9</div</td>
                            <td><div><!--fk-09-01--></div></td>
                            <td><div><!--fk-09-02--></div></td>
                            <td><div><!--fk-09-03--></div></td>
                            <td><div><!--fk-09-04--></div></td>
                            <td><div><!--fk-09-05--></div></td>
                            <td><div><!--fk-09-06--></div></td>
                            <td><div><!--fk-09-07--></div></td>
                            <td><div><!--fk-09-08--></div></td>
                            <td><div><!--fk-09-09--></div></td>
                            <td><div><!--fk-09-10--></div></td>
                            <td><div><!--fk-09-11--></div></td>
                            <td><div><!--fk-09-12--></div></td>  
                        </tr>
                        <tr>
                            <td><div class="fk-datum">10</div</td>
                            <td><div><!--fk-10-01--></div></td>
                            <td><div><!--fk-10-02--></div></td>
                            <td><div><!--fk-10-03--></div></td>
                            <td><div><!--fk-10-04--></div></td>
                            <td><div><!--fk-10-05--></div></td>
                            <td><div><!--fk-10-06--></div></td>
                            <td><div><!--fk-10-07--></div></td>
                            <td><div><!--fk-10-08--></div></td>
                            <td><div><!--fk-10-09--></div></td>
                            <td><div><!--fk-10-10--></div></td>
                            <td><div><!--fk-10-11--></div></td>
                            <td><div><!--fk-10-12--></div></td>  
                        </tr>
                        <tr>
                            <td><div class="fk-datum">11</div</td>
                            <td><div><!--fk-11-01--></div></td>
                            <td><div><!--fk-11-02--></div></td>
                            <td><div><!--fk-11-03--></div></td>
                            <td><div><!--fk-11-04--></div></td>
                            <td><div><!--fk-11-05--></div></td>
                            <td><div><!--fk-11-06--></div></td>
                            <td><div><!--fk-11-07--></div></td>
                            <td><div><!--fk-11-08--></div></td>
                            <td><div><!--fk-11-09--></div></td>
                            <td><div><!--fk-11-10--></div></td>
                            <td><div><!--fk-11-11--></div></td>
                            <td><div><!--fk-11-12--></div></td>  
                        </tr>
                        <tr>
                            <td><div class="fk-datum">12</div</td>
                            <td><div><!--fk-12-01--></div></td>
                            <td><div><!--fk-12-02--></div></td>
                            <td><div><!--fk-12-03--></div></td>
                            <td><div><!--fk-12-04--></div></td>
                            <td><div><!--fk-12-05--></div></td>
                            <td><div><!--fk-12-06--></div></td>
                            <td><div><!--fk-12-07--></div></td>
                            <td><div><!--fk-12-08--></div></td>
                            <td><div><!--fk-12-09--></div></td>
                            <td><div><!--fk-12-10--></div></td>
                            <td><div><!--fk-12-11--></div></td>
                            <td><div><!--fk-12-12--></div></td>  
                        </tr>
                        <tr>
                            <td><div class="fk-datum">13</div</td>
                            <td><div><!--fk-13-01--></div></td>
                            <td><div><!--fk-13-02--></div></td>
                            <td><div><!--fk-13-03--></div></td>
                            <td><div><!--fk-13-04--></div></td>
                            <td><div><!--fk-13-05--></div></td>
                            <td><div><!--fk-13-06--></div></td>
                            <td><div><!--fk-13-07--></div></td>
                            <td><div><!--fk-13-08--></div></td>
                            <td><div><!--fk-13-09--></div></td>
                            <td><div><!--fk-13-10--></div></td>
                            <td><div><!--fk-13-11--></div></td>
                            <td><div><!--fk-13-12--></div></td>  
                        </tr>
                        <tr>
                            <td><div class="fk-datum">14</div</td>
                            <td><div><!--fk-14-01--></div></td>
                            <td><div><!--fk-14-02--></div></td>
                            <td><div><!--fk-14-03--></div></td>
                            <td><div><!--fk-14-04--></div></td>
                            <td><div><!--fk-14-05--></div></td>
                            <td><div><!--fk-14-06--></div></td>
                            <td><div><!--fk-14-07--></div></td>
                            <td><div><!--fk-14-08--></div></td>
                            <td><div><!--fk-14-09--></div></td>
                            <td><div><!--fk-14-10--></div></td>
                            <td><div><!--fk-14-11--></div></td>
                            <td><div><!--fk-14-12--></div></td>  
                        </tr>
                        <tr>
                            <td><div class="fk-datum">15</div</td>
                            <td><div><!--fk-15-01--></div></td>
                            <td><div><!--fk-15-02--></div></td>
                            <td><div><!--fk-15-03--></div></td>
                            <td><div><!--fk-15-04--></div></td>
                            <td><div><!--fk-15-05--></div></td>
                            <td><div><!--fk-15-06--></div></td>
                            <td><div><!--fk-15-07--></div></td>
                            <td><div><!--fk-15-08--></div></td>
                            <td><div><!--fk-15-09--></div></td>
                            <td><div><!--fk-15-10--></div></td>
                            <td><div><!--fk-15-11--></div></td>
                            <td><div><!--fk-15-12--></div></td>  
                        </tr>
                        <tr>
                            <td><div class="fk-datum">16</div</td>
                            <td><div><!--fk-16-01--></div></td>
                            <td><div><!--fk-16-02--></div></td>
                            <td><div><!--fk-16-03--></div></td>
                            <td><div><!--fk-16-04--></div></td>
                            <td><div><!--fk-16-05--></div></td>
                            <td><div><!--fk-16-06--></div></td>
                            <td><div><!--fk-16-07--></div></td>
                            <td><div><!--fk-16-08--></div></td>
                            <td><div><!--fk-16-09--></div></td>
                            <td><div><!--fk-16-10--></div></td>
                            <td><div><!--fk-16-11--></div></td>
                            <td><div><!--fk-16-12--></div></td>  
                        </tr>
                        <tr>
                            <td><div class="fk-datum">17</div</td>
                            <td><div><!--fk-17-01--></div></td>
                            <td><div><!--fk-17-02--></div></td>
                            <td><div><!--fk-17-03--></div></td>
                            <td><div><!--fk-17-04--></div></td>
                            <td><div><!--fk-17-05--></div></td>
                            <td><div><!--fk-17-06--></div></td>
                            <td><div><!--fk-17-07--></div></td>
                            <td><div><!--fk-17-08--></div></td>
                            <td><div><!--fk-17-09--></div></td>
                            <td><div><!--fk-17-10--></div></td>
                            <td><div><!--fk-17-11--></div></td>
                            <td><div><!--fk-17-12--></div></td>  
                        </tr>
                        <tr>
                            <td><div class="fk-datum">18</div</td>
                            <td><div><!--fk-18-01--></div></td>
                            <td><div><!--fk-18-02--></div></td>
                            <td><div><!--fk-18-03--></div></td>
                            <td><div><!--fk-18-04--></div></td>
                            <td><div><!--fk-18-05--></div></td>
                            <td><div><!--fk-18-06--></div></td>
                            <td><div><!--fk-18-07--></div></td>
                            <td><div><!--fk-18-08--></div></td>
                            <td><div><!--fk-18-09--></div></td>
                            <td><div><!--fk-18-10--></div></td>
                            <td><div><!--fk-18-11--></div></td>
                            <td><div><!--fk-18-12--></div></td>  
                        </tr>
                        <tr>
                            <td><div class="fk-datum">19</div</td>
                            <td><div><!--fk-19-01--></div></td>
                            <td><div><!--fk-19-02--></div></td>
                            <td><div><!--fk-19-03--></div></td>
                            <td><div><!--fk-19-04--></div></td>
                            <td><div><!--fk-19-05--></div></td>
                            <td><div><!--fk-19-06--></div></td>
                            <td><div><!--fk-19-07--></div></td>
                            <td><div><!--fk-19-08--></div></td>
                            <td><div><!--fk-19-09--></div></td>
                            <td><div><!--fk-19-10--></div></td>
                            <td><div><!--fk-19-11--></div></td>
                            <td><div><!--fk-19-12--></div></td>  
                        </tr>
                        <tr>
                            <td><div class="fk-datum">20</div</td>
                            <td><div><!--fk-20-01--></div></td>
                            <td><div><!--fk-20-02--></div></td>
                            <td><div><!--fk-20-03--></div></td>
                            <td><div><!--fk-20-04--></div></td>
                            <td><div><!--fk-20-05--></div></td>
                            <td><div><!--fk-20-06--></div></td>
                            <td><div><!--fk-20-07--></div></td>
                            <td><div><!--fk-20-08--></div></td>
                            <td><div><!--fk-20-09--></div></td>
                            <td><div><!--fk-20-10--></div></td>
                            <td><div><!--fk-20-11--></div></td>
                            <td><div><!--fk-20-12--></div></td>  
                        </tr>
                        <tr>
                            <td><div class="fk-datum">21</div</td>
                            <td><div><!--fk-21-01--></div></td>
                            <td><div><!--fk-21-02--></div></td>
                            <td><div><!--fk-21-03--></div></td>
                            <td><div><!--fk-21-04--></div></td>
                            <td><div><!--fk-21-05--></div></td>
                            <td><div><!--fk-21-06--></div></td>
                            <td><div><!--fk-21-07--></div></td>
                            <td><div><!--fk-21-08--></div></td>
                            <td><div><!--fk-21-09--></div></td>
                            <td><div><!--fk-21-10--></div></td>
                            <td><div><!--fk-21-11--></div></td>
                            <td><div><!--fk-21-12--></div></td>  
                        </tr>
                        <tr>
                            <td><div class="fk-datum">22</div</td>
                            <td><div><!--fk-22-01--></div></td>
                            <td><div><!--fk-22-02--></div></td>
                            <td><div><!--fk-22-03--></div></td>
                            <td><div><!--fk-22-04--></div></td>
                            <td><div><!--fk-22-05--></div></td>
                            <td><div><!--fk-22-06--></div></td>
                            <td><div><!--fk-22-07--></div></td>
                            <td><div><!--fk-22-08--></div></td>
                            <td><div><!--fk-22-09--></div></td>
                            <td><div><!--fk-22-10--></div></td>
                            <td><div><!--fk-22-11--></div></td>
                            <td><div><!--fk-22-12--></div></td>  
                        </tr>
                        <tr>
                            <td><div class="fk-datum">23</div</td>
                            <td><div><!--fk-23-01--></div></td>
                            <td><div><!--fk-23-02--></div></td>
                            <td><div><!--fk-23-03--></div></td>
                            <td><div><!--fk-23-04--></div></td>
                            <td><div><!--fk-23-05--></div></td>
                            <td><div><!--fk-23-06--></div></td>
                            <td><div><!--fk-23-07--></div></td>
                            <td><div><!--fk-23-08--></div></td>
                            <td><div><!--fk-23-09--></div></td>
                            <td><div><!--fk-23-10--></div></td>
                            <td><div><!--fk-23-11--></div></td>
                            <td><div><!--fk-23-12--></div></td>  
                        </tr>
                        <tr>
                            <td><div class="fk-datum">24</div</td>
                            <td><div><!--fk-24-01--></div></td>
                            <td><div><!--fk-24-02--></div></td>
                            <td><div><!--fk-24-03--></div></td>
                            <td><div><!--fk-24-04--></div></td>
                            <td><div><!--fk-24-05--></div></td>
                            <td><div><!--fk-24-06--></div></td>
                            <td><div><!--fk-24-07--></div></td>
                            <td><div><!--fk-24-08--></div></td>
                            <td><div><!--fk-24-09--></div></td>
                            <td><div><!--fk-24-10--></div></td>
                            <td><div><!--fk-24-11--></div></td>
                            <td><div><!--fk-24-12--></div></td>  
                        </tr>
                        <tr>
                            <td><div class="fk-datum">25</div</td>
                            <td><div><!--fk-25-01--></div></td>
                            <td><div><!--fk-25-02--></div></td>
                            <td><div><!--fk-25-03--></div></td>
                            <td><div><!--fk-25-04--></div></td>
                            <td><div><!--fk-25-05--></div></td>
                            <td><div><!--fk-25-06--></div></td>
                            <td><div><!--fk-25-07--></div></td>
                            <td><div><!--fk-25-08--></div></td>
                            <td><div><!--fk-25-09--></div></td>
                            <td><div><!--fk-25-10--></div></td>
                            <td><div><!--fk-25-11--></div></td>
                            <td><div><!--fk-25-12--></div></td>  
                        </tr>
                        <tr>
                            <td><div class="fk-datum">26</div</td>
                            <td><div><!--fk-26-01--></div></td>
                            <td><div><!--fk-26-02--></div></td>
                            <td><div><!--fk-26-03--></div></td>
                            <td><div><!--fk-26-04--></div></td>
                            <td><div><!--fk-26-05--></div></td>
                            <td><div><!--fk-26-06--></div></td>
                            <td><div><!--fk-26-07--></div></td>
                            <td><div><!--fk-26-08--></div></td>
                            <td><div><!--fk-26-09--></div></td>
                            <td><div><!--fk-26-10--></div></td>
                            <td><div><!--fk-26-11--></div></td>
                            <td><div><!--fk-26-12--></div></td>  
                        </tr>
                        <tr>
                            <td><div class="fk-datum">27</div</td>
                            <td><div><!--fk-27-01--></div></td>
                            <td><div><!--fk-27-02--></div></td>
                            <td><div><!--fk-27-03--></div></td>
                            <td><div><!--fk-27-04--></div></td>
                            <td><div><!--fk-27-05--></div></td>
                            <td><div><!--fk-27-06--></div></td>
                            <td><div><!--fk-27-07--></div></td>
                            <td><div><!--fk-27-08--></div></td>
                            <td><div><!--fk-27-09--></div></td>
                            <td><div><!--fk-27-10--></div></td>
                            <td><div><!--fk-27-11--></div></td>
                            <td><div><!--fk-27-12--></div></td>  
                        </tr>
                        <tr>
                            <td><div class="fk-datum">28</div</td>
                            <td><div><!--fk-28-01--></div></td>
                            <td><div><!--fk-28-02--></div></td>
                            <td><div><!--fk-28-03--></div></td>
                            <td><div><!--fk-28-04--></div></td>
                            <td><div><!--fk-28-05--></div></td>
                            <td><div><!--fk-28-06--></div></td>
                            <td><div><!--fk-28-07--></div></td>
                            <td><div><!--fk-28-08--></div></td>
                            <td><div><!--fk-28-09--></div></td>
                            <td><div><!--fk-28-10--></div></td>
                            <td><div><!--fk-28-11--></div></td>
                            <td><div><!--fk-28-12--></div></td>  
                        </tr>
                        <tr>
                            <td><div class="fk-datum">29</div</td>
                            <td><div><!--fk-29-01--></div></td>
                            <td><div><!--fk-29-02--></div></td>
                            <td><div><!--fk-29-03--></div></td>
                            <td><div><!--fk-29-04--></div></td>
                            <td><div><!--fk-29-05--></div></td>
                            <td><div><!--fk-29-06--></div></td>
                            <td><div><!--fk-29-07--></div></td>
                            <td><div><!--fk-29-08--></div></td>
                            <td><div><!--fk-29-09--></div></td>
                            <td><div><!--fk-29-10--></div></td>
                            <td><div><!--fk-29-11--></div></td>
                            <td><div><!--fk-29-12--></div></td>  
                        </tr>
                        <tr>
                            <td><div class="fk-datum">30</div</td>
                            <td><div><!--fk-30-01--></div></td>
                            <td><div><!--fk-30-02--></div></td>
                            <td><div><!--fk-30-03--></div></td>
                            <td><div><!--fk-30-04--></div></td>
                            <td><div><!--fk-30-05--></div></td>
                            <td><div><!--fk-30-06--></div></td>
                            <td><div><!--fk-30-07--></div></td>
                            <td><div><!--fk-30-08--></div></td>
                            <td><div><!--fk-30-09--></div></td>
                            <td><div><!--fk-30-10--></div></td>
                            <td><div><!--fk-30-11--></div></td>
                            <td><div><!--fk-30-12--></div></td>  
                        </tr>
                        <tr>
                            <td><div class="fk-datum">31</div</td>
                            <td><div><!--fk-31-01--></div></td>
                            <td><div><!--fk-31-02--></div></td>
                            <td><div><!--fk-31-03--></div></td>
                            <td><div><!--fk-31-04--></div></td>
                            <td><div><!--fk-31-05--></div></td>
                            <td><div><!--fk-31-06--></div></td>
                            <td><div><!--fk-31-07--></div></td>
                            <td><div><!--fk-31-08--></div></td>
                            <td><div><!--fk-31-09--></div></td>
                            <td><div><!--fk-31-10--></div></td>
                            <td><div><!--fk-31-11--></div></td>
                            <td><div><!--fk-31-12--></div></td>  
                        </tr>
                </tbody>
            </table>
        </div>
        
    </div>
</body>
</html>
