/* This stylesheet is used to style the public-facing components of the plugin. */

.fk-row{
	margin: 12px 0;

}
.fk-row label{
	display: block;
	margin-top: 20px;
}

.fk-row input, .fk-row select{
	margin-top:5px;
	width: 200px;
}
#fk-pdflink, #fk-icallink {
	display: none;
	margin: 10px 10px 10px :;
}